@font-face {
    font-family: big-shoulders;
    src: url("./src/assets/BigShoulders_24pt-Regular.ttf");
    font-weight: 700;
}
.cards {
    display: flex;
    justify-content: center;
    align-items: center;
}