@font-face {
    font-family: defaultFont;
    src: url("./src/assets/RobotoSerif_28pt-Regular.ttf");
}

@font-face {
    font-family: tempratureFont;
    src: url("./src/assets/Montserrat-Regular.ttf");
}

#root {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
    background-color: rgba(0, 0, 0, 0.877);
    color: #ffffff;
    display: flex;
    padding: 12px;
    justify-content: space-between;
}

aside {
    position: absolute;
    right: 1%;
    top: 20%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background-color: rgba(0, 0, 0, 0.184);
    padding: 12px;
    border-radius: 12px;
}

aside:hover {
    background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-image: url("https://images.unsplash.com/photo-1592210454359-9043f067919b?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8d2VhdGhlcnxlbnwwfHwwfHx8MA%3D%3D");
  background-size: cover;
}

footer {
    justify-content: end;
    background-color: rgba(0, 0, 0, 0.877);
    padding: 12px;
    color: white;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

#notification {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: #e5e7eb;
    border-radius: 12px;
}

#loader {
    width: 42px;
    height: 42px;
    border: 3px solid #e5e7eb;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-top: 12px;
    justify-self: center;
    align-self: center;
    position: absolute;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}
