@font-face {
    font-family: tempratureFont;
    src: url("./assets/Montserrat-Regular.ttf");
}

.day_item {
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 32px;
    margin: 12px;
    border: 1px solid rgba(0, 0, 0, 0.318);
    border-radius: 12px;
    font-family: tempratureFont;
}

.day_date {
    display: flex;
    gap: 8px;
    font-size: 16px;
}

.day {
    font-weight: 700;
}

.day_temp {
    display: flex;
    gap: 8px;
}

.max_temp {
    font-size: 18px;
    font-weight: 700;
}

.min_temp {
    font-size: 16px;
}