body {
  background-color: #e2f1e7;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_form {
  width: 520px;
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  display: grid;
  gap: 12px;
}

.heading_and_reset {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reset_button {
  color: red;
  cursor: pointer;
}

.name_section {
  display: flex;
  gap: 12px;
}

.input_field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

input {
  padding: 8px;
  border-radius: 7px;
  border: 1px solid #ccc;
}

.radio_buttons {
  display: flex;
  gap: 12px;
}

.radio_button {
  border: 2px solid #dad7d7;
  padding: 8px;
  border-radius: 7px;
  display: flex;
  gap: 8px;
  align-items: center;
}

button {
  background-color: #0b7d69;
  color: white;
  padding: 12px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

button:disabled {
  opacity: 0.7;
}

.required_field_text {
  color: red;
  font-size: 14px;
  width: 100%;
}

.server_response {
  text-align: center;
  margin-top: 8px;
}
