#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headingAndResetButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.resetButton {
  color: rgb(228, 1, 1);
  cursor: pointer;
}
