.contactForm {
  display: grid;
  width: 520px;
  row-gap: 12px;
  background-color: white;
  padding: 24px;
  border-radius: 12px;
}

.textInput {
  max-width: 480px;
  max-height: 480px;
  padding: 8px;
  height: 38px;
  border-radius: 7px;
}

.inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.requiredField {
  color: rgb(228, 1, 1);
  display: none;
}

.nameSection {
  display: flex;
  gap: 12px;
}
