.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1e1e2f;
  color: white;
  padding: 12px;
}

.logo {
  font-size: 24px;
}

.cart {
  font-size: 22px;
  cursor: pointer;
}